<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
<!--script src="{{ url_for('static', filename='peaks.min.js') }}"></script -->
<script src="http://wzrd.in/standalone/peaks.js"></script>
<title></title>
</head><body>

<h1>{{ f.fr.title }}</h1>

<div class="container">
  <div id="peaks-container"></div>
  <audio id="waveform" controls="controls" style="width: {{ f.width }}pt; margin: 25pt;" src="{{ url_for('static', filename='audio') }}/{{ f.ff.audio_url }}">Your browser does not support the <code>audio</code> element.</audio>
</div>
<!--div>{{ f.fr }}</div -->

<div id="timeline" class="row">{% for s in f.seg %}
<div class="col-md-2">{{ s }}</div>
{% endfor %}</div>

<script>
window.onload = (function(Peaks){
    var p = Peaks.init({
      container: document.querySelector('#peaks-container'),
      mediaElement: document.querySelector('#waveform'),
      height: 200,
      width: {{ f.width }},
      zoomLevels: 1024
    });
})(peaks.js);
</script>
</body>
</html>
